{% if app.debug and banners is empty %}
    {% include 'ADWBannerBundle::not_found_banner.html.twig' %}
{% endif %}

{# todo: refactor #}
{% for banner in banners %}
    {% if banner.html is defined %}
        {{ banner.html | raw }}
    {% elseif banner.image is defined %}
        {% media banner.image, 'reference' %}
    {% endif %}
{% endfor %}