<div style="background-color: #fff; padding: 10px; position: absolute; z-index: 999">

    <p style="color: red">You see this shit because the block({{ banner_context }}) defined as block of banners but no one banner provided for the context.</p>
    <p>Define it in config.yml:</p>

<pre>
adw_banner:
    contexts:
        ...
    {{ banner_context }}:
            name: {{ block.name }}
    template: my_awesome_template.html.twig
            ...
</pre>

    <p>Or directly in twig:</p>

    <pre>{% raw %}{{ sonata_block_render('{% endraw %}{{ banner_context }}{% raw %}', {'template': 'my_awesome_template.html.twig'}) }} {% endraw %}</pre>

</div>